<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h1>Hello, world!</h1>
    <h1 data-th-text="${minion}"></h1>

    <h2>Update Message</h2>

    <form method="POST" action="/">
        text:
        <input type ="text" name="greetingupdatefield" size="30">
        <button type="submit">Update</button>
    </form>

    <h1>Updated Message:</h1>
    <h2 data-th-text="${updatedgreetings}"></h2>
</body>
</html>